<div class="center-container">
    <div class="header">
        We Mail
    </div>
    <form class="login-form">
        <div class="field">
            <mat-icon>account_circle</mat-icon>
            <input type="text" placeholder="Email" [(ngModel)]="email">
        </div>
        <div class="field">
            <mat-icon>lock</mat-icon>
            <input type="text" placeholder="Password" [(ngModel)]="password">
        </div>
    </form>
    <button class="sign-in">Sign In</button>
    <div class="sign-up">
        <span>New User?</span>
        <a href="/signup">Sign Up</a>
    </div>
</div>