<div mat-dialog-content>
    <mat-icon class="error-icon">error</mat-icon>
    <span style="font-size: 18px; text-align: center;">{{data.message}}</span>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Error Data
          </mat-panel-title>
        </mat-expansion-panel-header>
        <pre>{{data.error | json}}</pre>
      </mat-expansion-panel>
</div>

<div mat-dialog-actions style="display: flex; align-items: center; justify-content: center;">
    <button mat-raised-button mat-dialog-close color="primary">Ok</button>
</div>