<div class="header">
  <button mat-button class="menu-button" (click)="isMenuOpen = !isMenuOpen">
    <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
  </button>
  <div class="links-wrapper">
    <div class="link">Users</div>
    <div class="link">Events</div>
    <div class="link">Activity</div>
  </div>
</div>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav 
    autoFocus="false" 
    mode="side" 
    [(opened)]="isMenuOpen" 
    class="sidenav" 
    (click)="onSidenavClick()">
    <a mat-button routerLink="/events">Events</a>
    <a mat-button routerLink="/users">Users</a>
    <a mat-button routerLink="/activity">Activity</a>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>