<div class="center-container">
    <div class="header">
        We Mail
    </div>
    <div class="field">
        <mat-icon>account_circle</mat-icon>
        <input type="text" placeholder="Name">
    </div>
    <div class="field">
        <mat-icon>account_circle</mat-icon>
        <input type="text" placeholder="Email">
    </div>
    <div class="field">
        <mat-icon>lock</mat-icon>
        <input type="text" placeholder="Password">
    </div>
    <button class="sign-in">Sign In</button>
    <button class="sign-up">Sign Up</button>
</div>