<div style="padding: 10px 0px; display: flex; align-items: center; justify-content: flex-end;">
    <button mat-raised-button color="primary" (click)="openUserDialog()">
        <mat-icon>person_add</mat-icon>
        Add User
    </button>
</div>

<div class="table-wrapper">
    <table>
        <colgroup>
            <col width="10%"/>
            <col width="40%"/>
            <col width="40%"/>
            <col width="10%"/>
        </colgroup>
        <thead>
            <tr>
                <td>S No</td>
                <td>Name</td>
                <td>Email</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Pavan</td>
                <td>pavankaushal7@gmail.com</td>
                <td>
                    <div class="actions">
                        <mat-icon style="color: #3f51b5;">edit</mat-icon>
                        <mat-icon style="color: #f44336;">delete</mat-icon>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #userData let-data>
    <div mat-dialog-title style="text-align: center;">
        {{ data._id ? 'Edit' : 'Add' }} User
    </div>
    <div mat-dialog-content class="category-content">
        <div class="form-item">
            <div class="label">
                <span>Name</span>
                <span>:</span>
            </div>
            <input placeholder="Ex. John Wick">
        </div>
        <div class="form-item">
            <div class="label">
                <span>Email</span>
                <span>:</span>
            </div>
            <input placeholder="Ex. johnwick007@gmail.com">
        </div>
    </div>
    <div mat-dialog-actions style="display: flex; align-items: center; justify-content: flex-end;">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button class="green-save-btn">Save</button>
    </div>
</ng-template>