/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'ngx-toastr/toastr';

button {
    cursor: pointer;
}

.green-btn {
    background: #0A9C4D !important;
    color: white !important;
}

.search-input {
    position: relative;
    padding: 0 5px;
    display: flex;
    > input {
        padding: 9px;
        border-radius: 5px;
        padding-left: 40px;
        font-size: 14px;
        line-height: 20px;
        border: 1px solid #D6D6D6;
        flex: 1;
        ::placeholder {
            color: #D6D6D6;
        }
    }

    &::before {
        font-family: "Material Icons";
        content: "\e8b6";
        position: absolute;
        top: 9px;
        left: 16px;
        font-size: 24px;
        color: #BDBDBD;
    }
}

.CC_1 {
    background: #2980B930 !important;
    color: #2980B9 !important;
}

.CC_2 {
    background: #27AE6030 !important;
    color: #27AE60 !important;
}

.CC_3 {
    background: #FFCD2940 !important;
    color: #AC8813 !important;
}

mat-icon {
    display: flex !important;
    align-items: center !important;
}

button[disabled] {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.form-item {
    display: flex;
    align-items: center;
    padding: 5px 0px;
    &.is-invalid {
        input {
            border: 1px solid #f33 !important;
        }
        .select {
            border: 1px solid #f33 !important;
            .mat-mdc-select-arrow {
                display: none !important;
            }
        }
        mat-icon {
            color: #f33 !important;
        }
    }
    .label {
        margin-right: 10px;
        justify-content: space-between;
        color: #21254E !important;
        display: flex;
        align-items: center;
        font-size: 16px !important;
    }
    input {
        padding: 10px 6px;
        flex: 1;
        border-radius: 3px;
        border-width: 0.5px;
        position: relative;
    }
    .select {
        padding: 6px;
        flex: 1;
        border-radius: 3px;
        border: 0.5px solid #767676;
        position: relative;
        mat-select {
            font-size: 14px !important;
        }
    }
    mat-icon {
        position: absolute;
        right: 28px;
    }
}

.overflow-ellipsis {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}